.container{
    border:2px solid blue;
    text-align:center;
    
    height:500px;
    width:400px;
}
.body {
    background-image: url('https://c0.wallpaperflare.com/preview/1020/769/213/computer-light-unsplash-website.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    padding-top: 50px;
    margin-top: -20px;
    margin-bottom: -2000px;
    padding-bottom: 145px;
 }
h1{
    margin:auto;
}
.row{
    height:90px;
    width:396px;
    
}
.form-control{
    font-size: 12px;
    margin-top: auto;
}
.footer{
    color: white;
    font-size: 15px;
    
}
.btn{
    border-width: 5px;
    font-size: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}
