<section class="body">

 <head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/></head>
  <div class="container" >
	<form  >
	<div class="row" >
		 <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>
       
            </div><br /><br />
         
        
                <div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
								</div>
								<input type="text" [(ngModel)]="loginObj.UserName" name="username" class="form-control" placeholder="username" required/>
							</div><br />
         
                      <div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-key icon"></i></span>
								</div>
									<input type="Password" [(ngModel)]="loginObj.Password" name="password" class="form-control" placeholder="password" required/>
			     </div><br />
            
              <button type="button" class="btn btn-success"(click)="onLogin()"><span class="glyphicon glyphicon-off"></span> Login</button>
			  <!-- Display error message if exists -->
			  <div class="error-message" style="color: rgb(238, 41, 10);" *ngIf="errorMessage">
				{{ errorMessage }}
			  </div>
              <div class="footer">
                  <p>Don't have an Account! <a href="/signUp">Sign Up Here</a></p>
          <p> <a href="#"> Forgot password?</a></p>
        </div>

	</form>
 
	</div>
</section> 