.container{
    border:2px solid blue;
    text-align:center;
    
    height:500px;
    width:400px;
}
.body {
    background-image: url('https://th.bing.com/th/id/OIP.oRcYse6dq9awI2B5npfzQAHaEK?rs=1&pid=ImgDetMain');
    background-size:cover;
    background-position: center;
    display: flex;
    padding-top: 50px;
    margin-top: -20px;
    margin-bottom: -20500px;
    padding-bottom: 232px;
 }
h1{
    margin:auto;
}
.row{
    height:90px;
    width:396px;
    color: rgb(73, 72, 72);
    
}
.form-control{
    font-size: 12px;
    margin-top: auto;
}
.footer{
    color: white;
    font-size: 15px;
    
}
.btn{
    border-width: 5px;
    font-size: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}
