<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About MyDCBank</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  
</head>

<body>
  <header>
    <h1>About MyDCBank</h1>
  </header>

  <main>
    <section class="image-aboutus-banner" style="margin-top: 1px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="lg-text">Welcome to MyDCBank</h1>
            <p class="image-aboutus-para">Your trusted financial partner located in the vibrant city of Mysore!</p>
          </div>
        </div>
      </div>
    </section>

    <section class="paddingTB60">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <hr>
            <h2>Our Vision and Values</h2>
            <hr>
            <p class="lead">At MyDCBank, we are committed to:</p>
            <ul>
              <li>Putting our customers first</li>
              <li>Operating with integrity and transparency</li>
              <li>Embracing innovation</li>
              <li>Engaging with and giving back to our community</li>
            </ul>
            <hr>
            <h2>Our Services</h2>
            <hr>
            <p class="lead">Discover the range of banking services we offer:</p>
            <ul>
              <li>Personal Banking</li>
              <li>Business Banking</li>
              <li>Digital Banking</li>
              <li>Wealth Management</li>
            </ul>
          </div>

          <div class="col-md-4">
            <!-- Your sidebar content here -->
          </div>
        </div>
      </div>
    </section>

    <div class="cta-sektion cta-padding35">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <h3><span class="glyphicon glyphicon-cog "></span> <b>Ready to experience the MyDCBank difference?</b> Join us today!</h3>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
            <button type="button" class="btn btn-primary site-btn">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer-section">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-one">
            <h5>About MyDCBank</h5>
            <p>Your trusted financial partner located in the vibrant city of Mysore!</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
          </div>

          <!-- Other footer content here -->

        </div>
      </div>
    </div>
  </footer>
</body>

</html>
