.body {
   background-image: url('https://th.bing.com/th/id/OIP.vTyGsGedIqnmTeQm9u_YtgHaFC?rs=1&pid=ImgDetMain');
   background-size:cover;
   background-position: center;
   display: flex;
   padding-top: 50px;
   margin-top: -20px;
   padding-right: 100px;
}

*[role="form"] {
   max-width: 530px;
   padding: 15px;
   margin: 0 auto;
   border-radius: 0.3em;
   
   
}
.form-group{
   color: rgb(169, 160, 160);
}

*[role="form"] h2 { 
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #a48c7552;
   margin-top: 5%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   padding-left: 100px;
   padding-bottom: 20px;
}

.form-horizontal{
   font-style:normal;
   font-size: small;
}


