.body {
   background-image: url('https://th.bing.com/th/id/OIP.4s1HBjDfsTbBc8AxoxNDlQHaEo?w=267&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7');
   background-size:cover;
   background-position: center;
   display: flex;
   padding-top: 50px;
   margin-top: -20px;
   padding-right: 100px;
}

*[role="form"] {
   max-width: 530px;
   padding: 15px;
   margin: 0 auto;
   border-radius: 0.3em;
   
   
}
.form-group{
   color: black;
}

*[role="form"] h2 { 
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #a48c7552;
   margin-top: 5%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   padding-left: 100px;
   padding-bottom: 20px;
}

.form-horizontal{
   font-style:normal;
   font-size: small;
  color:rgb(0,64,64);
}


