.body {
   background-image: url('https://th.bing.com/th/id/R.dcb3f58ac4521254490d204e421e2610?rik=Fu8DzQT36nt5QA&riu=http%3a%2f%2fthemepack.me%2fi%2fc%2f749x468%2fmedia%2fg%2f1006%2flight-blue-theme-ei12.jpg&ehk=%2fUYvprofzWAx4ZCJK7FJwlz39OU9uwHMoAUN7M9uD90%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1');
   background-size:cover;
   background-position: center;
   display: flex;
   padding-top: 50px;
   margin-top: -20px;
   padding-right: 100px;
}

*[role="form"] {
   max-width: 530px;
   padding: 15px;
   margin: 0 auto;
   border-radius: 0.3em;
   
   
}
.form-group{
   color: black;
}

*[role="form"] h2 { 
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #a48c7552;
   margin-top: 5%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   padding-left: 100px;
   padding-bottom: 20px;
}

.form-horizontal{
   font-style:normal;
   font-size: small;
  color:rgb(0,64,64);
}


