.container {
    margin-top: 0px;
    margin-left: 25px;
    height: 400px;
    padding-right: 9px;

   padding-bottom: 50px;
   
  
    
}
.body{
    margin-top: 0;
    
    background-size:cover;
    height: 89.9vh;

    padding-top: 10px;
    background-color: rgb(183, 186, 191);


   
    
}
  
.panel-heading {
    background-color:#042445;
    color: #f6f2f2;
    padding-top: 20px;
}
.panel{
    width: 1000px;
    max-height: fit-content;
    background-color:white
  
}
.panel-footer{
    color: rgb(94, 99, 99);
    background-color:  #5385b7;
}
  
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    
}
  
.panel-body {
    padding: 60px;
    padding-bottom: 60px;
    width: 800px;
    
   
    
    
}
  
.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-right: px;
}
  
.profile-controls {
    margin-top: 10px;
    
}
  
.profile-controls button {
    margin-right: 10px;
}
  
.user-infos {
    display: none;
    
}
  
.table-user-information td {
    border: none;
}
  
.dropdown-user {
    cursor: pointer;
}
  
.dropdown-user i {
    margin-left: 5px;
}
  
.text-muted {
    color: #aca3a3;
}
.table{
    color:rgb(79, 79, 181);
    font-weight: bold;
    font-size: larger;
    
}

.field-label {
    font-weight: bold; /* Example style for field label */
    color: rgb(27, 27, 28); /* Example style for field label */
    font-size: large;
    height: 50px;
    margin-bottom: 100px;
}
  
.field-value {
    font-weight: normal; /* Example style for field value */
    color: rgb(29, 28, 27); /* Example style for field value */
    font-size: large;
    height: 50px;
    margin-bottom: 100px;
}

.main-container {
    /* background-image: url('path/to/your/background/image.jpg'); */
  
   /* background-color: #1b1b20; */
   background-position-x: left;
   background-size: calc(100% - 1px); 
   height: 676px;
   width: 1325px;
  
   padding-right: 150px;
   margin-top: 0px;
  
  }

  .capitalize {
    text-transform: capitalize;
    font-size:20px
  }
  .uppercase{
    text-transform: uppercase;
  }


  