
    /* Additional inline styles for demonstration purposes */
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .header {
      background-color: #1365ae;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }
    .logo img {
      width: 115px;
      height: auto;
      border-radius: 50%;
    }
    .main {
      padding: 20px 0;
    }
    .content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(138, 132, 132, 0.1);
    }
    .content h2 {
      color: #333;
    }
    .account-details p {
      margin: 10px 0;
      font-size: 18px;
    }
    .transaction-list table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    .transaction-list th,
    .transaction-list td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    .transaction-list th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
    .transaction-list tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    .button:hover {
      background-color: #0056b3;
    }
    .footer {
      background-color: hwb(220 16% 44% / 0.944);
      color: #fff;
      padding: 10px 0;
      text-align: center;
    }


    .underline {
      border-bottom: 2px solid #000; /* Change color as needed */
      display: inline-block;
      padding-bottom: 5px; /* Adjust as needed */
      color: rgb(81, 107, 155);
    }