<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Care | MyDCBank</title>
  
</head>

<body>
  <header>
    <h1>Customer Care</h1>
  </header>

  <main>
     <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>Contact Information</h2>
            <p>If you have any questions, concerns, or feedback, please don't hesitate to contact our customer care team. We're here to assist you!</p>
            <ul>
              <li><strong>Email:</strong> customercaremydcbank</li>
              <li><strong>Phone:</strong> +91 7019664796</li>
              <li><strong>Address:</strong> Infosys, Hebbal Industrial , Mysore, India</li>
            </ul>
          </div>
          <div class="col-md-4">
            <img src="https://kokatto.com/kkt-public/img/CustomerCare.6130867.png" alt="Customer Care Image" class="img-fluid">
          </div>
        </div>
      </div>
      </section>
      </main>

    

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2024 MyDCBank. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
